# file is managed by puppet
<% if scope.lookupvar('rsyslog::preserve_fqdn') -%>
$PreserveFQDN on
<% end -%>
<% if scope.lookupvar('rsyslog::local_host_name') and scope.lookupvar('rsyslog::local_host_name') != :undef -%>
$LocalHostName <%= scope.lookupvar('rsyslog::local_host_name') %>
<% end -%>
#################
#### MODULES ####
#################

<% scope.lookupvar('rsyslog::modules').each do |module_row| -%>
<%= module_row %>
<% end -%>

<% if scope.lookupvar('rsyslog::non_kernel_facility') -%>
# Enable non-kernel facility klog messages
$KLogPermitNonKernelFacility on

<% end -%>
###########################
#### GLOBAL DIRECTIVES ####
###########################
#
# Set max message size for sending and receiving
#
$MaxMessageSize <%= scope.lookupvar('rsyslog::max_message_size') %>

#
# Set rate limit for messages received.
#
<% if scope.lookupvar('rsyslog::default_template') and scope.lookupvar('rsyslog::default_template') != :undef and scope.lookupvar('rsyslog::default_template_customisation') and scope.lookupvar('rsyslog::default_template_customisation') != :undef -%>
#
# Custom setting for ActionFileDefaultTemplate
#
$template <%= scope.lookupvar('rsyslog::default_template') %>,<%= scope.lookupvar('rsyslog::default_template_customisation') %>

<% end -%>
<% if scope.lookupvar('rsyslog::default_template')  and scope.lookupvar('rsyslog::default_template') != :undef -%>
#
# Sets a default template for file action
#
$ActionFileDefaultTemplate <%= scope.lookupvar('rsyslog::default_template') %>

<% end -%>
<% if scope.lookupvar('rsyslog::msg_reduction') -%>
# Filter duplicated messages
$RepeatedMsgReduction on

<% end -%>
#
# Set the default permissions for all log files.
#
$FileOwner <%= scope.lookupvar('rsyslog::log_user') %>
$FileGroup <%= scope.lookupvar('rsyslog::log_group') %>
$FileCreateMode <%= scope.lookupvar('rsyslog::perm_file') %>
$DirOwner <%= scope.lookupvar('rsyslog::log_user') %>
$DirGroup <%= scope.lookupvar('rsyslog::log_group') %>
$DirCreateMode <%= scope.lookupvar('rsyslog::perm_dir') %>
$PrivDropToUser <%= scope.lookupvar('rsyslog::run_user') %>
$PrivDropToGroup <%= scope.lookupvar('rsyslog::run_group') %>
$WorkDirectory <%= scope.lookupvar('rsyslog::spool_dir') %>
<% if scope.lookupvar('rsyslog::umask') -%>
$Umask <%= scope.lookupvar('rsyslog::umask') %>
<% end -%>

<% if scope.lookupvar('rsyslog::omit_local_logging') -%>
# Turn off message reception via local log socket;
# local messages are retrieved through imjournal now.
$OmitLocalLogging on
<% end -%>

# Settings for imjournal (If supported)
<% if scope.lookupvar('rsyslog::im_journal_statefile') and scope.lookupvar('rsyslog::im_journal_statefile') != :undef -%>
$imjournalStateFile <%=scope.lookupvar('rsyslog::im_journal_statefile') %>
<% end -%>
<% if scope.lookupvar('rsyslog::im_journal_ignore_previous_messages') and scope.lookupvar('rsyslog::im_journal_ignore_previous_messages') != :undef -%>
$imjournalIgnorePreviousMessages <%=scope.lookupvar('rsyslog::im_journal_ignore_previous_messages') %>
<% end -%>
<% if scope.lookupvar('rsyslog::im_journal_ratelimit_interval') and scope.lookupvar('rsyslog::im_journal_ratelimit_interval') != :undef -%>
$imjournalRatelimitInterval <%=scope.lookupvar('rsyslog::im_journal_ratelimit_interval') %>
<% end -%>
<% if scope.lookupvar('rsyslog::im_journal_ratelimit_burst') and scope.lookupvar('rsyslog::im_journal_ratelimit_burst') != :undef -%>
$imjournalRatelimitBurst <%=scope.lookupvar('rsyslog::im_journal_ratelimit_burst') %>
<% end -%>

#
# Include all config files in <%= scope.lookupvar('rsyslog::rsyslog_d') %>
#
$IncludeConfig <%= scope.lookupvar('rsyslog::rsyslog_d') -%>*.conf

#
# Emergencies are sent to everybody logged in.
#
<% if @rsyslog_version and @rsyslog_version.split('.')[0].to_i >= 7 -%>
*.emerg	:omusrmsg:*
<% else -%>
*.emerg	*
<% end -%>
